#main-header {
  position: fixed;
}

.heading-container {
  padding-bottom: 40px;
}

.header-item {
  /* If we use grids
  grid-area: header;
  */
  position: fixed;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*text-align: center;*/
  padding: 20px 0;
  font-size: 30px;
}


/* FOR SCROLL TESTING */
.big-break {
  line-height: 10000px;
}
