#main-header {
  position: fixed;
}

.header-element {
  grid-area: header;
  margin-bottom: 50px;
}

.main-element {
  grid-area: main;

}

.main1-element {
  grid-area: main1;
}

.main2-element {
  grid-area: main2;
}



.right-element {
  grid-area: right;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main1 main1 main1 main1 main1 main1'
    'main main main right right right'
    'main2 main2 main2 right2 right2 right2'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;

}

.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.heading-container {
  padding-bottom: 40px;
}

body {
  background-color: white;
}

nav {
  text-align: center;
  font-size: 30px;
}

/* FOR SCROLL TESTING */
.big-break {
  line-height: 400px;
}

ul.navs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  /*background-color: grey;*/
  /*display: inline;*/
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  display: inline;
  /*float: left;*/
}

li a {
  display: inline-block;
  color: black;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.font-type {
  font-family: 'Della Respira', serif;
  font-size: 20px;
}

.img-slide {
  display: none;
}

/* Image overlay  Some Page 2 stuff*/
.container {
  display: inline-block;
  position: relative;
  width: 30%;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.button {
  background-color: #459DD1;
  border: none;
  color: darkgrey;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
