#main-header {
  position: fixed;
}

.heading-container {
  padding-bottom: 40px;
}

body {
  background-color: white;
}

nav {
  text-align: center;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*text-align: center;*/
  padding: 20px 0;
  font-size: 30px;
}

/* FOR SCROLL TESTING */
.big-break {
  line-height: 10000px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: grey;*/
  /*display: inline;*/
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  display: inline;
  /*float: left;*/
}

li a {
  display: inline-block;
  color: black;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.font-type {
  font-family: 'Arial';
  font-size: 20px;
}
